APP_ENV=development
PORT=8000
SECRET_KEY=sua_chave_secreta_aqui
WHATSAPP_API_URL=https://api.provedor.com/v1/send
WHATSAPP_API_KEY=coloque_sua_chave_aqui
SINDICO_PHONE=5547999999999
SUBSINDICO_PHONE=5547888888888
